@import "../../assets/global-styles/mixins.scss";
@import "../../assets/global-styles/colors.scss";
@import "../../assets/global-styles/global.scss";

.span-education {
    color: $deep-matte-grey;
}
.experience-wrapper {
    border-bottom: 1px solid $silver-fox;
    padding: 20px 0;
}
.left-work {
    color: $silver-fox;
}

#right-education {
    color: $deep-matte-grey;
    margin-top: 0;
    .experience-wrapper {
        border-bottom: 1px solid $deep-matte-grey;
        padding: 20px 0;
    }
}

.experience-description {
    text-align: start;
}
.left {
    display: flex;
    flex-direction: column;
}
.mini-title {
    font-size: 29px;
}
