@import "../../assets/global-styles/mixins.scss";
@import "../../assets/global-styles/colors.scss";
@import "../../assets/global-styles/global.scss";

h1,
h2 {
    font-size: xxx-large;
    margin: 14px;
    @include phone {
        font-size: xx-large;
    }
}
h1 {
    color: $silver-fox;
}

.button {
    display: flex;
    transition: background-color 0.5s;
    border: 1px solid white;
    padding: 16px;
    margin: 24px auto;
    width: max-content;
    text-align: initial;
    color: white;
    text-decoration: none;
    cursor: pointer;
    .learn-more {
        padding-right: 10px;
        align-self: center;
    }
    .arrowhead {
        transition: transform 0.5s;
        display: inline-block;
    }
    &:hover {
        background-color: dodgerblue;
        .arrowhead {
            transform: rotate(90deg);
        }
    }
}

.name {
    font-weight: bold;
    color: $are-ya-yellow;
}

[data-aos="ZoomInUp1"] {
    --webkit-animation-name: zoomInUp;
    animation-name: zoomInUp;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
[data-aos="ZoomInUp2"] {
    --webkit-animation-name: zoomInUp;
    animation-name: zoomInUp;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes zoomInUp {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
        transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
        transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}

.wrap-banner {
    position: relative;
    display: flex;
    height: 100%;
    justify-content: center;
    background: linear-gradient(rgba(57, 63, 77, 0.5), rgba(29, 30, 34, 0.5)),
        url("../../assets/starry-field.jpg") no-repeat fixed center;
    background-size: cover;
}
.particles-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
}

#particles-js {
    width: 100%;
    height: 109vh;
}
.main-title {
    top: 25%;
    color: #fff;
    width: 100%;
    position: absolute;
}
