@import "../../assets/global-styles/mixins.scss";
@import "../../assets/global-styles/colors.scss";
@import "../../assets/global-styles/global.scss";

#submitDisabled:disabled:hover {
    background-color: none;
}
#submitDisabled:disabled {
    transition: background-color, 0.5s;
    background-color: rgb(110, 110, 110);
    color: $deep-matte-grey;
}
.contact-form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 60px auto;

    @include tablet {
        width: 80%;
    }

    .input {
        height: 30px;
    }
    .input-warning {
        margin: 5px 0 0;
    }
    .message {
        height: 150px;
    }
    .submit {
        padding: 11px 20px;
        transition: background, 0.5s;
        background: none;
        border: 1px solid white;
        font-size: 20px;
        color: white;
        margin: 20px 0 0 auto;

        &:hover {
            transition: background-color, 1s;
            color: $deep-matte-grey;
            background-color: $are-ya-yellow;
            cursor: pointer;
        }
    }
}
