@import "../../assets/global-styles/mixins.scss";
@import "../../assets/global-styles/colors.scss";
@import "../../assets/global-styles/global.scss";

//Global
.certificate-wrapper {
    .certificates {
        .certificate-container {
            width: 70%;
            margin: auto;
            @include tablet {
                width: 90%;
            }
            .certificate {
                img {
                    height: 350px;
                    @include tablet {
                        height: 258px;
                    }
                }
            }
        }
    }
}
